target/
bin/
*.iml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/backend/bin/
/.idea/
.project
frontend/.classpath
binasset.go
.settings
/backend/.build/go.mod
/backend/.build/go.sum
/backend/.build/go-bindata
/backend/.build/main.go
/backend/.gopath/pkg/mod/cache/download/github.com/jteeuwen/go-bindata/@v/list
/backend/.gopath/pkg/mod/cache/download/github.com/jteeuwen/go-bindata/@v/v3.0.7+incompatible.info
/backend/.gopath/pkg/mod/cache/download/github.com/jteeuwen/go-bindata/@v/v3.0.7+incompatible.lock
/backend/.gopath/pkg/mod/cache/download/github.com/jteeuwen/go-bindata/@v/v3.0.7+incompatible.mod
/backend/.gopath/pkg/mod/cache/download/github.com/jteeuwen/go-bindata/@v/v3.0.7+incompatible.zip
/backend/.gopath/pkg/mod/cache/download/github.com/jteeuwen/go-bindata/@v/v3.0.7+incompatible.ziphash
/backend/.gopath/pkg/mod/cache/download/github.com/skratchdot/open-golang/@v/list
/backend/.gopath/pkg/mod/cache/download/github.com/skratchdot/open-golang/@v/v0.0.0-20200116055534-eef842397966.info
/backend/.gopath/pkg/mod/cache/download/github.com/skratchdot/open-golang/@v/v0.0.0-20200116055534-eef842397966.lock
/backend/.gopath/pkg/mod/cache/download/github.com/skratchdot/open-golang/@v/v0.0.0-20200116055534-eef842397966.mod
/backend/.gopath/pkg/mod/cache/download/github.com/skratchdot/open-golang/@v/v0.0.0-20200116055534-eef842397966.zip
/backend/.gopath/pkg/mod/cache/download/github.com/skratchdot/open-golang/@v/v0.0.0-20200116055534-eef842397966.ziphash
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/go-bindata/AppendSliceValue.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/go-bindata/main.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/go-bindata/version.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/testdata/in/a/test.asset
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/testdata/in/b/test.asset
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/testdata/in/c/test.asset
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/testdata/in/test.asset
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/testdata/out/compress-memcopy.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/testdata/out/compress-nomemcopy.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/testdata/out/debug.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/testdata/out/nocompress-memcopy.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/testdata/out/nocompress-nomemcopy.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/asset.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/bytewriter.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/config.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/CONTRIBUTING.md
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/convert.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/debug.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/doc.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/LICENSE
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/README.md
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/release.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/stringwriter.go
/backend/.gopath/pkg/mod/github.com/jteeuwen/go-bindata@v3.0.7+incompatible/toc.go
/backend/.gopath/pkg/mod/github.com/skratchdot/open-golang@v0.0.0-20200116055534-eef842397966/open/exec.go
/backend/.gopath/pkg/mod/github.com/skratchdot/open-golang@v0.0.0-20200116055534-eef842397966/open/exec_darwin.go
/backend/.gopath/pkg/mod/github.com/skratchdot/open-golang@v0.0.0-20200116055534-eef842397966/open/exec_windows.go
/backend/.gopath/pkg/mod/github.com/skratchdot/open-golang@v0.0.0-20200116055534-eef842397966/open/open.go
/backend/.gopath/pkg/mod/github.com/skratchdot/open-golang@v0.0.0-20200116055534-eef842397966/open/open_test.go
/backend/.gopath/pkg/mod/github.com/skratchdot/open-golang@v0.0.0-20200116055534-eef842397966/readme-template/package.txt
/backend/.gopath/pkg/mod/github.com/skratchdot/open-golang@v0.0.0-20200116055534-eef842397966/vendor/xdg-open
/backend/.gopath/pkg/mod/github.com/skratchdot/open-golang@v0.0.0-20200116055534-eef842397966/.gitignore
/backend/.gopath/pkg/mod/github.com/skratchdot/open-golang@v0.0.0-20200116055534-eef842397966/LICENSE
/backend/.gopath/pkg/mod/github.com/skratchdot/open-golang@v0.0.0-20200116055534-eef842397966/Makefile
/backend/.gopath/pkg/mod/github.com/skratchdot/open-golang@v0.0.0-20200116055534-eef842397966/README.md
